<div class="wrapper">
  <form action="" id="wizard" role="application" class="wizard clearfix">
    <div class="steps clearfix">
      <ul role="tablist">
        <li role="tab" aria-disabled="false" class="first done" aria-selected="false">
          <a id="wizard-t-0"  routerLink="personal" routerLinkActive="active" aria-controls="wizard-p-0">
            <span class="number">1.</span> <img src="/assets/images/step-1.png" alt=""> <span class="step-order">Personal Detail</span>
          </a>
          <img src="/assets/images/step-arrow.png" alt="" class="step-arrow">
        </li>
        <li role="tab" aria-disabled="false" class="done" aria-selected="false">
          <a id="wizard-t-1" routerLink="contact" aria-controls="wizard-p-1">
            <span class="number">2.</span> <img src="/assets/images/step-2.png" alt=""><span class="step-order">Contact Detail</span>
          </a>
          <img src="/assets/images/step-arrow.png" alt="" class="step-arrow">
        </li>
        <li role="tab" aria-disabled="false" class="done" aria-selected="false">
          <a id="wizard-t-2" routerLink="skills" routerLinkActive="active" aria-controls="wizard-p-2">
            <span class="number">3.</span> <img src="/assets/images/step-3.png" alt=""><span class="step-order">Skills</span>
          </a>
          <img src="/assets/images/step-arrow.png" alt="" class="step-arrow">
        </li>
        <li role="tab" aria-disabled="false" class="last done" aria-selected="true">
          <a id="wizard-t-3" routerLink="wexp" routerLinkActive="active" aria-controls="wizard-p-3">
            <span class="number">4.</span> <img src="/assets/images/step-4.png" alt=""><span class="step-order">Word Experience</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="content clearfix">
      <section>
        <router-outlet></router-outlet>
      </section>
    </div>
  </form>
</div>





